<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BB12N11QTQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-BB12N11QTQ');
  </script>
</head>
<body>
  <div class="barra-progreso"></div>

  {% include 'includes/header.html' %}

  <section class="hero">
    <h2 class="hero-phrase" style="font-style: italic; text-align: center; margin-top: 1rem;">
      A Map of Fashion, Culture and Identity
    </h2>
  </section>

  <main class="article-body">
    {{ content }}
  </main>

  {% include 'includes/aside.html' %}
  {% include 'includes/footer.html' %}

  <script src="script.js"></script>
</body>
</html>
